<section class="grid-wrapper">
  <nav class="header-wrapper position-1">
    <div class="header-title">
      <h1>
        <a href="/" target="_self">{{title}}</a>
      </h1>
    </div>
    <div class="header-menu">
      <nav>
        <a *ngFor="let category of categories | async" routerLink="/{{category}}" target="_self"
          (click)="showFacts(); toggleDisplay();" mat-raised-button>
          {{ category }}
        </a>
      </nav>
    </div>    
  </nav>
  <section class="position-2">
    <div class="loader" *ngIf="isLoader">
      Loading...
    </div>
  </section>
  <section class="hero-image position-3" *ngIf="!isLoader && !isShow">
    <img src="../assets/images/chucknorris.jpg" class="image" alt="chucknorris picture">
  </section>
  <section class="instruction position-3" *ngIf="!isLoader && isShow">
    <h2>{{ instruction }}</h2>
  </section>
  <section class="list-wrapper position-4" *ngIf="!isLoader && isShow">
    <div class="list-container source-list">
      <p>Source list</p>
      <div 
      cdkDropList 
      #sourceList="cdkDropList" 
      [cdkDropListData]="values"
      [cdkDropListConnectedTo]="[customList]" 
      class="fact-list" 
      (cdkDropListDropped)="onDrop($event)"
      (cdkDropListExited)="remove()">
      <div *ngIf="!total" class="no-value">
        <p>{{ text }}</p>
      </div>
      <div class="fact-block" *ngFor="let value of values" cdkDrag>{{ value }}</div>
      </div>
   </div>
   <div class="list-container custom-list">
      <p>Custom list</p>
      <div 
      cdkDropList
      #customList="cdkDropList" 
      [cdkDropListData]="custom"
      [cdkDropListConnectedTo]="[sourceList]" 
      class="fact-list" 
      (cdkDropListDropped)="onDrop($event)"
      (cdkDropListExited)="remove()">
      <div class="fact-block" *ngFor="let item of custom" cdkDrag >{{ item }}</div>
      </div>
   </div>
  </section>
</section>
<router-outlet></router-outlet>
