<section class="grid-wrapper">
  <nav class="header-wrapper position-1">
    <div class="header-logo">
      <h2>
        <a href="/" target="_self">{{title}}</a>
      </h2>
    </div>
    <div class="header-menu">
      <nav>
        <a *ngFor="let category of categories | async" routerLink="/{{category}}" target="_self"
          (click)="showFacts(); toggleDisplay();">
          {{ category }}
        </a>
      </nav>
    </div>    
  </nav>
  <section class="position-2">
    <div class="loader" *ngIf="isLoader">
      Loading...
    </div>
  </section>
  <section class="list-wrapper position-3" *ngIf="!isLoader && isShow">
    <div class="list-container source-list">
      <h2>source list</h2>
      <div 
      cdkDropList 
      #sourceList="cdkDropList" 
      [cdkDropListData]="values"
      [cdkDropListConnectedTo]="[customList]" 
      class="fact-list" 
      (cdkDropListDropped)="onDrop($event)">
      <div class="fact-block" *ngFor="let value of values" cdkDrag>{{ value }}</div>
      </div>
   </div>
   <div class="list-container custom-list">
      <h2>custom list</h2>
      <div 
      cdkDropList 
      #customList="cdkDropList" 
      [cdkDropListData]="custom"
      [cdkDropListConnectedTo]="[sourceList]" 
      class="fact-list" 
      (cdkDropListDropped)="onDrop($event)">
      <div class="fact-block" *ngFor="let item of custom" cdkDrag>{{ item }}</div>
      </div>
   </div>
  </section>
</section>
<router-outlet></router-outlet>
